.root {
    -fx-font-size: 14px;
    -fx-font-family: monospace;
    -fx-background-color: #ffffff;
}

Button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-spacing: 2px;
}

.heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: serif;
}